<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <a [routerLink]="['/home']" style="text-decoration: none;" > 
        <img class="logo" src="assets/images/logo.jpg" />

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav ml-auto" ngbNav #nav="ngbNav">
          <li class="nav-item"  [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['home']">Home</a>
          </li>
          <li class="nav-item dropdown" (mouseover)='over(myDropDown)' (mouseout)='out(myDropDown)' ngbDropdown #myDropDown ="ngbDropdown">
            <a class="nav-link dropdown-toggle pointer" id="wes1" ngbDropdownToggle>
              WES 23-SHARM EL SHEIKH
            </a>
            <div class="dropdown-menu" (mouseover)='over(myDropDown)' (mouseout)='out(myDropDown)' aria-labelledby="wes1" ngbDropdownMenu>
              <a class="dropdown-item pointer" routerLink="/about" ngbDropdownItem>About</a>
              <a class="dropdown-item pointer" routerLink="/programme" ngbDropdownItem>Programme</a>
              <a class="dropdown-item pointer" routerLink="/speakers" ngbDropdownItem>Speakers</a>
            </div>
          </li>

          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/archive']">WES ARCHIVE</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link disabled" [routerLink]="['/register']">REGISTER</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/contact']">CONTACT</a>
          </li>
        </ul>
      </div>

    </div>

    
  </nav>