.title{
text-align: center;
font-weight: 400;
font-size: 40px;
margin-bottom: 20px;
}
.about-container{
    padding: 40px  15px;

}
.about{
    text-align: left;
    margin: 0 22rem;
    visibility: visible;
    animation-duration: 1500ms;
    animation-delay: 200ms;
    animation-name: fadeInLeft;
    color: #7f7f7f;
    line-height: 2em;
}
@media only screen and (max-width: 1024px) {
    .title{
        font-size: 32px;
    }
    .about{
        margin: 0 3rem;
    }

}

@media only screen and (max-width: 668px) {
    .title{
        font-size: 22px;
    }
    .about{
        margin: 0 0rem;
    }

}