.title{
text-align: center;
font-weight: 400;
font-size: 32px;
margin-bottom: 20px;
}
.about-container{
    padding: 40px  15px;

}
.about{
    text-align: left;
    margin-right: 27.8rem;
    visibility: visible;
    animation-duration: 1500ms;
    animation-delay: 200ms;
    animation-name: fadeInLeft;
    color: #7f7f7f;
    line-height: 2em;
}