<div class="about-container px-3 mx-auto">
    <h2 class="title fs-1 fw-normal text-center mb-4">WES 2023 - SHARM EL SHEIKH | About</h2>
    <p class="about text-start lh-lg fs-4">
        Globalisation and rapid technological advancement have brought new challenges and opportunities into the 21st
        century classroom.
        This two-day conference brings you some of the latest trends in education. Our speakers – experts in the field –
        present some of the innovative techniques and approaches that help today’s students acquire the skills and
        knowledge to successfully navigate the globalised world. Themes include gamification, digital assessment and
        nurturing global awareness.
        We hope that this event will inspire you and open new horizons in the educational field.
    </p>
</div>