.login-container{
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.25);
    
}

.head{
    text-align: center;
    font-weight: bold;
}
.form-group label{
    font-weight: bold;
}
.content{
    display: flex;
    justify-content: center;
}
.btn{
    background-color: rgb(80, 59, 100);
    border-color:rgb(80, 59, 100)
}
@media only screen and (max-width: 1024px) {
    .login-container {
        max-width: 700px;
    }
}
@media only screen and (max-width: 668px) {
    .content {
        display: block;
    }
    .login-container {
        max-width: 400px;
    }
img{
    width:100%
}
}