<p-tabView>
  <p-tabPanel  *ngFor="let p of programs"> 
    <ng-template pTemplate="header">
      {{p.date| date : 'EEEE' }}<br>   
      {{p.date| date : 'MMMM d, yyyy'}}   
  </ng-template>
<div *ngFor="let r of p.rooms">
  <h1>{{ r.title }}</h1>
  <br />
  <div class="card">
    <p-timeline [value]="r.details">
      <ng-template pTemplate="content" let-d>
        <small class="p-text-secondary"> {{ d.timeslots[0].start }}</small>
      </ng-template>

      <ng-template pTemplate="opposite" let-d>
        <div *ngIf="d.type == 'timeslot'" >
          <ngb-accordion #acc="ngbAccordion">
            <ngb-panel class="collapse"  >
              <ng-template ngbPanelTitle>
                <span [innerHTML]='d.timeslot_title'></span>
              </ng-template> 
              <ng-template ngbPanelContent>
                <p-tabView>
                  <p-tabPanel
                    [header]="t.title"
                    *ngFor="let t of d.timeslots"
                    class="tab"
                  >
                    {{ t.description }}
                    <br />
                    <div class="col-12" style="text-align: right">
                      <span class="hvr-bounce-to-right"
                        >{{ t.start }}-{{ t.end }}</span
                      >
                    </div>
                    <br />
                    <div class="col-12">
                      <div *ngFor="let speaker of t.speakers" class="d-flex">
                        <div>
                          <img class="img-circle" src="{{ speaker.image }}" />
                        </div>
                        <div class="p-2">
                          <h5 class="prof-title">{{ speaker.name }}</h5>
                          <h6 class="prof-occup">{{ speaker.title }}</h6>
                        </div>
                      </div>
                    </div>
                  </p-tabPanel>
                </p-tabView>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>

        <div *ngIf="d.type == 'details'">
          <ngb-accordion #acc="ngbAccordion" [activeIds]="r.details[0].timeslots[0]._id"  *ngFor="let t of d.timeslots" >
            
            <ngb-panel class="collapse" [id]="t._id"  >
              <ng-template ngbPanelTitle>
                <span [innerHTML]='t.title'></span>
              </ng-template> 
              <ng-template ngbPanelContent>
                {{ t.description }}
                <br />
                <div class="col-12" style="text-align: right">
                  <span class="hvr-bounce-to-right"
                    >{{ t.start }}-{{ t.end }}</span
                  >
                </div>
                <br />
                <div class="col-12">
                  <div
                    *ngFor="let speaker of t.speakers"
                    class="d-flex"
                  >
                    <div>
                      <img class="img-circle" src="{{ speaker.image }}" />
                    </div>
                    <div class="p-2">
                      <h5 class="prof-title">{{ speaker.name }}</h5>
                      <h6 class="prof-occup">{{ speaker.title }}</h6>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </ng-template>
    </p-timeline>
  </div>
</div>
</p-tabPanel>
</p-tabView>