<div class="card h-100 pointer">
    <img [src]="eachspeaker.image" class="card-img-top" [alt]="eachspeaker.name">
    <div class="card-body text-end d-flex flex-column justify-content-between">
        <div class="position-relative bg-white description">
            <h5>{{eachspeaker.name}}</h5>
            <br>
            <span>{{eachspeaker.title}}</span>
        </div>
        <br>
        <a (click)="navigateTo()" class="viewMore text-decoration-none align-self-end">View Profile</a>
    </div>
</div>