.card {
    transition-duration: 0.5s;
    transform: translate3d(0, 0, 0);
    max-width: 18rem;
    &:hover {
        border-color: #2e3192;
        transform: scale(1.1, 1.1);
    }

    .description {
        max-width: 420px;
        margin: -40px 15px 0px;
        padding: 15px 5px 10px;
        border: 1px solid #d0d0d0;
        background: #ffffff;
        text-align: center;
        line-height: 130% !important;

        h5{
            font-size: 18px;
            font-family: 'Droid Sans',sans-serif;
            color: #292929;
        }
        span{
            font-size: 15px;
            color: #2e3192;
        }
    }

    .viewMore {
        transition-duration: 0.5s;
        color: #11c3f0;
        &:hover{
            color: #2e3192;
        }
    }
}