.speakerDetails {
    .title{
        background-color: #e4e5f9;
    }
    .auto-container {
        max-width: 1200px;
    }
    .description{
        background: #2e3192;
    }
    .card{
        max-width: 18rem;
        max-width: max-content !important;
    }
}