/* You can add global styles to this file, and also import other style files */
.pointer{
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

body{
    font-family: sans-serif;
}

.bg-comp-header{
    background: #e4e5f9;
    padding: 20px 0;
}
