.speakers {
    padding: 60px 0px;
    background-color: #2e3192;

    .auto-container {
        max-width: 1200px;
        padding: 0px 15px;
        margin: auto;

        .conf-pos {
            margin-bottom: 50px;
        }
    }
}